@model IEnumerable<Vidly.Models.Movies>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2 style="FONT-FAMILY:Calibri; color: black;font-size:30px; font-weight:bold">Movies</h2>

@if (!Model.Any())
{
    <h3>There are no Movies available</h3>
}

else
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th style="FONT-FAMILY:Calibri; color: black;font-size:25px; font-weight:bold" scope="col">Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in Model)
            {
                <tr class="table-active">
                    <td style="FONT-FAMILY:Calibri;color:blue; font-size:25px;">@Html.ActionLink(movie.Name, "Details", "Movies", new { ID = movie.ID }, null)</td>
                </tr>
            }
    </table>
}